
<div class="container-fluid" style="width: 85%">
    <div class="card m-2 border border-2">
        <img src="https://cdn.pixabay.com/photo/2016/03/09/14/40/office-1246484_960_720.jpg" class=" border border-2 p-2" style="object-fit: cover; height: 15em;" alt="">
    </div>
    <div class="card  bg-light m-2">
        <div class="row g-0 d-flex justify-content-between">
            <div class="col-md-4 border border-2">
                    <img src="../../../assets/perfil.jpg" style="max-width: 150px" class="mx-auto d-block rounded-circle z-depth-2" alt="">
                <div class="card-body align-self-center text-center">
                    <h5 class="card-title m-0">Juan Manuel Caballero</h5>
                    <p class="card-text m-0">Full Stack Developer Jr.</p>
                    <p class="card-text m-0">Técnico Superior en Desarrollo de Software</p>
                    <p class="card-text m-0">Profesor de Biología</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body border border-2 h-100">
                    <h1 class="card-title m-0 text-center">Acerca de</h1>
                    <p class="card-text m-0">Full Stack Developer Jr. gracias a Argentina Programa</p>
                    <p class="card-text m-0">Trabajando actualmente como Profesor de Física y Programación en Villa General Belgrano.</p>
                    <p class="card-text m-0">Amante de la naturaleza. Buzo en entrenamiento. Taekwondista.</p>
                    <p class="card-text m-0">De Temperley, Buenos Aires. Viviendo en Santa Rosa de Calamuchita, Córdoba.</p>
                </div>
            </div>
        </div>
    </div>
</div>