<div class="container-fluid" style="width: 85%">
    <div class="card bg-light border m-2 border-2">
        <div class="card-body">
            <h1 class="card-title m-0 text-center">Experiencia</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Profesor de Biología en IPEM n° 271 Dr. Dalmacio Vélez Sarsfield - Santa Rosa de Calamuchita, Córdoba</p>
                </li>
                <li class="list-group-item">
                    <p>Profesor de Biología en IPET n° 422 - Santa Rosa de Calamuchita, Córdoba</p>
                </li>
                <li class="list-group-item">
                    <p>Profesor de Biología y Problemáticas de Salud Humana y Ambiental en CENMA - Santa Rosa de Calamuchita, Córdoba</p>
                </li>
                <li class="list-group-item">
                    <p>Profesor de Física en Colegio Alemán - Villa General Belgrano, Córdoba</p>
                </li>
                <li class="list-group-item">
                    <p>Profesor de Biología y Programación en Escuela PRoA DS - Villa General Belgrano, Córdoba</p>
                </li>
            </ul>
        </div>
    </div>
</div>